
<div class="history-content">
                <h4 class="heading">Medical History</h4>
                <ul>
                    <%for(a of history)
                    {%>
                                <li><%=a.content%></li>
                    <%}%> 
                </ul>          
</div>
