
<link rel="stylesheet" href='/css/about.css'>
<section id="about" class="section text-center">
    
    <div id="about-container">
        
        
        <div>
            <h3 class="text-center">About Us</h3>
            <img src='/images/MDR.png' alt="can't open">
            <h3 class="text-center">Your Care Our Responsibility!</h3>
        </div>
        
         <p  > <strong> MediCare</strong> is providing online and offline healthcare services since 2022 continuously.
            We assure your healthcare with our responsibility towards patients.We provide our services with latest technologies across the country.Patients can book appointment for offline and online consultant.Patients can also book pathology test .Patients  can chat with doctors at anytime if they need.
        </p>
        <div>
            <img src="/images/clock.png" alt="cant't open"style="display:inline">
            <p style="font-weight:bolder;color:#ff2625;font-size:2rem">   24Hrs Availability</p>
        </div>
        

    </div>

</section>