
<link rel="stylesheet" href="/css/about.css">
<section id="about" class="section text-center">
    
    <div id="about-container">
        
        
        <div>
            <h3 class="text-center">About Us</h3>
            <img src="/images/MDR.png" alt="can't open">
            <h3 class="text-center">Your Care Our Resposibility!</h3>
        </div>
        
         <p  >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis libero, cum, sapiente laudantium
            ipsum minus natus veniam omnis corrupti ducimus recusandae temporibus eum ea dolores pariatur
            incidunt officia eveniet! Error fuga possimus, earum necessitatibus quis cum fugit neque explicabo
            tempore alias praesentium tempora dolorem magni ipsam suscipit aliquam ducimus, vero optio nisi ad
            unde iste voluptatem sunt! Voluptas corporis culpa amet deleniti vero. Eos veritatis nulla quibusdam
            nostrum esse reiciendis fugit ratione est enim ducimus quaerat quasi nihil natus, quae obcaecati
            ullam ut commodi numquam itaque facilis perspiciatis. Iure accusamus quaerat asperiores facere non
            quasi, saepe voluptatum qui eaque aperiam?
        </p>

    </div>

</section>