<link rel="stylesheet" href='/css/appointment.css'>
<div class="outer">
    <div class="detail">
        <h1><%=patient.name%></h1>
        <img src="/images/appointment.png" alt="can't open">
        <h1>Dr.<%=appointment_doctor.name%></h1>
    </div>
    <div class="update">
        <p>Fill Appointment Details</p>
        <form action="/appointments/create" method="post" id="book-appointment">
            <input type="hidden" name="doctor" value="<%=appointment_doctor.id%>">
            <input type="hidden" name="patient" value="<%=patient.id%>">
            <label style="font-weight: bold;"for="">Choose Mode Of Appointment</label>
            <div class="radio">
                <ul>
                    <li><input type="radio" name="mode" id="offline" value="offline" required ></li>
                    <li> <label for="offline">Offline</label></li>
                </ul>
                <ul>
                    <li><input type="radio" name="mode" id="online" value="online" required></li>
                    <li><label for="online">Online</label></li>
                </ul>
            </div>
            <input type="text" name="symptoms" id="symptoms" placeholder="Write Symptoms">
            <br> 
            <br> 
             <a href="/razorpay/checkout"> Click here to Pay </a>
            <br>
            <input type="date" name="date" id="date" required>
            <input style="font-weight:bold" class="sub" type="submit" value="book appointment">
        </form>
    </div>
</div>
 
 