<link rel="stylesheet" href='/css/home.css'>
<body>
    <div id="home-container"> 
       
            <%if(locals.doctor){%>
                <div class="container">
                <button><a href="/appointments/my/<%=doctor.id%>">appointments</a></button>
                <button><a href="/treatments/ByMe/<%=doctor.id%>">Treatments</a></button>
                </div>
            <%}%>
            <%if(locals.patient){%>
                <div class="container">
                <button><a href="/appointments/patient_appointment/<%=patient.id%>">appointments</a></button>
                <button><a href="/treatments/my/<%=patient.id%>">Treatment</a></button>
            </div>
            <%}%>
        <div id="options"> 
            <h2 id="view-doctor" class="text-center"><a href="/doctors/find_doctor">View All Doctors</a></h2>
            <h1 id="find-heading" class="text-center">Find a Doctor</h1>
        </div>
        <div id="find-doctor">    
            <div class="find-type" id="find-type">
                
                <div class="find-div" id="loc">
                    <div>
                
                        <img class="find-img" src='/images/locations.png' alt="can't open">
                        <span>By Location</span>
                    </div>
                    <form action="/doctors/find_doctorByLocation" method="post">
                        <select class="select-input text-input" name="location" id="location">
                            <option value="">Select a Location</option>
                            <option value="554">Janta Hospital,Bareilly</option>
                            <option value="Katharra">Katharra</option>
                            <option value="Deoranian">Deoranian</option>
                            <option value="02314">Lanka,Varanasi</option>
                            <option value="02514">kunjGali,Mathura</option>
                            <option value="23561">Araji,Prayagraj</option>
                        </select>
                        <button type="submit" class="go" id="loc-btn">
        
                            <img src='/images/arrow-right.png' alt="">
                        </button>

                    </form>
                </div>
                <div class="find-div" id="service">
                    <div>
                        <img class="find-img" src='/images/doctor-stethoscope.png' alt="can't open">
                        
                        <span>By Service</span>
                    </div>
                    <form action="/doctors/find_doctorByService" method="post">
                     <select class="select-input text-input" name="service" id="service">
                            <option value="">Select a Service</option>
                            <option value="cardiology">Cardiology</option>
                            <option value="pathology">Pathology</option>
                            <option value="01">CancerCase</option>
                            <option value="02">Lungs-deseases</option>
                            <option value="03">Heart-deseases</option>
                        </select>
                        <button type="submit" class="go">
                            <img src='/images/arrow-right.png' alt="">
                        </button>
                    </form>
                </div>
                <div class="find-div" id="name">
                    <div>
                        <img class="find-img" src='/images/icons8-name-48.png' alt="can't open">
                        <span>By Name</span>
                    </div>

                    <form action="/doctors/find_doctorByName" method="post">
                        <input class="select-input text-input" type="text" name="name" id="doc-name"
                            placeholder="Enter Name Of Doctor">
                        <button class="go"> <img src='/images/arrow-right.png' alt=""></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
