<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head> -->
<link rel="stylesheet" href="./css/home.css">
<body>
    <div id="home-container">
        <div id="find-doctor">
            <h1 id="find-heading" class="text-center">Find a Doctor</h1>
            <div class="find-type ">
                <div class="find-div" id="loc">
                    <div>
                        <img class="find-img" src="images/locations.png" alt="can't open">
                        <span>By Location</span>
                    </div>
                    <select class="select-input text-input" name="location" id="location">
                        <option value="">Select a Location</option>
                        <option value="243203">Janta Hospital,Bareilly</option>
                        <option value="0581">Karamcharinagar,Bareilly</option>
                        <option value="02314">Lanka,Varanasi</option>
                        <option value="02514">kunjGali,Mathura</option>
                        <option value="23561">Araji,Prayagraj</option>
                    </select>
                    <button class="go">
                        <img src="/images/arrow-right.png" alt="">
                    </button>
                </div>
                <div class="find-div" id="service">
                    <div>
                        <img class="find-img" src="/images/doctor-stethoscope.png" alt="can't open">
                        <span>By Service</span>
                    </div>
                    <select class="select-input text-input" name="service" id="service">
                        <option value="">Select a Service</option>
                        <option value="00">Cardiology</option>
                        <option value="01">CancerCase</option>
                        <option value="02">Lungs-deseases</option>
                        <option value="03">Heart-deseases</option>
                    </select>
                    <button class="go">
                        <img src="/images/arrow-right.png" alt="">
                    </button>
                </div>
                <div class="find-div" id="name">
                    <div>
                        <img class="find-img" src="/images/icons8-name-48.png" alt="can't open">
                        <span>By Name</span>
                    </div>
                    <input class="select-input text-input" type="text" name="doc-name" id="doc-name"
                        placeholder="Enter Name Of Doctor">
                    <button class="go"> <img src="/images/arrow-right.png" alt=""></button>
                </div>
            </div>
        </div>
    </div>
    
</body>
<!-- </html> -->