<link rel="stylesheet" href="/css/profile_patient.css">
<div class="outer">
    <h1><%=patient.id%></h1>
    <h1>I'm patient!</h1>
    <h2>Name:<%=profile_patient.name%></h2>
    <h2>Email:<%=profile_patient.email%></h2>
    
</div>