<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="/css/services.css">
</head>
<body>
    <section id="services" class="section text-center">
        <!-- <h1 class="sec-heading">SERVICES</h1> -->
        <div class="grid-container">
            <div class="grid-item" id="serv-1">
                <a href="">
                    <img src="/images/pathology.webp" alt="can't open">
                    <span>Laboratory Services</span>
                </a>
            </div>
            <div class="grid-item">
            <a href="">
                <img src="/images/medical.jpg" alt="can't open">
                <span>Medical Services</span>
            </a>
                
            </div>
            <div class="grid-item">
                <a href="">
                    <img src="/images/blood.jpg" alt="can't open">
                    <span>Blood Banks</span>
                </a>
               
            </div>
            <div class="grid-item">
                <a href="">
                    <img src="/images/surgery-1807541_1920.jpg" alt="can't open">
                    <span>Surgical Services</span>
                </a>
                
            </div>
            <div class="grid-item">
                <a href="">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStja3PruWLn9NBKzHZWPzpc8uJ8DyIKquxNVtktHYGfpD37Ly7EDAN-5dXMDDGZPPLIhU&usqp=CAU"
                    alt="can't open">
                <span>Anesthesiology Services</span>
                </a>
                
            </div>
            <div class="grid-item">
                <a href="">
                    <img src="/images/ambulance.jpg" alt="can't open">
                    <span>Ambulance Services</span>
                </a>
               
            </div>
            <div class="grid-item">
                <a href="">
                    <img src="/images/diagonisi.jpg" alt="can't open">
                    <span>Diagonisis Services</span>
                </a>
                
            </div>
            <div class="grid-item">
                <a href="">
                    <img src="/images/therapy.jpg" alt="can't open">
                    <span>Therapeutic Services</span>
                </a>
                
            </div>
            <div class="grid-item">
                <a href="">
                    <img src="/images/Nursing.jpg" alt="can't open">
                    <span>Nursing Services</span>
                </a>
                
            </div>
        </div>
        </section>
    </body>
</html>
