/* #about{
    background:rgb(185, 187, 202);
    width: 100%;
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
/* } * */
#about-container{
    margin-top: 5rem;
    
}
#about-container div{
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-container img{
    height:15%;
    width: 15%;
    margin:2rem;
    border-radius: 20rem;
}
#about-container h3{
    display: block;
    font-size: 3rem;
    margin-left:0;
    color: rgb(25, 23, 150);
 font-family: 'Ubuntu', sans-serif;
}
#about-container p{
    font-size: 1.2rem;
    margin-bottom: 3rem;
   /* margin-left: 2rem; */
}
.text-center{
    text-align: center;
}
