#doctors{
    min-height: 100vh;
    font-family:  'Ubuntu', sans-serif;
    margin-top:5rem;
    background-color: rgb(192, 195, 206);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* background-image: url(covid-img.jpg); */
}
.search{
    height: 20vh;
   display: flex;
   justify-content: center;
   align-items: center;
   padding-left: 20%;
    padding-right: 20%;
}
.searchform{
    width: 100%;
    display: flex;
    justify-content: center;
    

}
.bar{
    width: 80%;
    height: 1.5rem;
    padding-left: 1rem;
}
.searchform button{
    width:4rem;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    /* background-color: yellow; */
    padding-left: 10%;
    padding-right: 10%;
    /* padding-top:5rem; */
    padding-bottom:5rem;
}

.grid-item{
    background-color: rgba(255,255,255,0.8);
    font-size: 1rem;
    font-weight: bold;
    text-align:center;
    margin:3%;
    height: 60vh;
    border-style: none;
    border-radius:0.5rem;
    box-shadow:5px 5px  white;
    display: flex;
    flex-direction:column;
}
.outer{
    height: 100%;
    width: 100%;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0;
}
li{
    list-style: none;
}
.photo-name{
    height: 45%;
    display: flex;
    color: red;
    padding: 0;
    /* background-color: red; */
}
.grid-item img{
    /* margin:1rem; */
    height: 80%;
    width:80%;
    margin: 2rem;
    border-radius: 50%;
}
.name{
    color:  rgb(88, 123, 238);
    font-size:2rem;
    /* text-shadow:2px 2px burlywood; */
    text-transform:capitalize;
    font-family:  'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
}
.same{
    font-size: 1.3rem;
    margin-left:2rem;
    margin-right: 2rem;
    background-color:rgb(218, 214, 214);
    display: flex;
    justify-content: left;
    margin-bottom: 0.5rem;
    height: 10%;
    align-items: center;
    padding-left: 0.5rem;
    font-weight: bolder;
}

.same  h4{
    text-align:left;
    /* color:#5769B0; */
    color:#ff2625;
  letter-spacing: 1.85px;
  min-width: 200px;
  text-transform: uppercase;
  width: 200px;
  padding-left: 15px;
}
.same li{
    /* color:#000000B3; */
    color:rgb(10, 10, 243);
  display: block;
    font-size: 1.3rem;
  font-weight: bolder;
  letter-spacing: 1.85px;
  text-transform: capitalize;
}
.appointment{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(75, 70, 70);
    height: 8%;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    
    /* padding-top:15px; */
}
.grid-item a{
        
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: whitesmoke;
        font-weight:bolder;
        letter-spacing: 0.5px;
        display: flex;
        justify-content: center;
        align-items: center;
     
}

.appointment:hover{
    background-color:whitesmoke;

    
}
.grid-item a:hover{
    color:rgb(75,70,70);
}
