#services{
    
    margin-top:5rem;
    background-color: rgb(192, 195, 206);
    /* background-image: url(covid-img.jpg); */
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: auto;
}
.grid-item{
    background-color: rgba(255,255,255,0.8);
    border:2px solid rgba(0,0,0,0.8);
    font-size: 1rem;
    font-weight: bold;
    text-align:center;
    margin:2rem;
    height: 25vh;
    width:25vw;
    /* border: 3px solid black; */
    border-style: none;
    border-radius:1rem;
    box-shadow: 5px 5px rgb(67, 127, 196);
}
.grid-item img{
    height: 80%;
    width:100%;
    border-radius:1rem;
}

.grid-item a{
    text-decoration: none;
}

.grid-item:hover{
    background-color:blanchedalmond;
    
}
