/* body{
  background-color:cyan
} */
/* div{
  width:200px;
  height: 200px;
  background-color: red;
} */
h1{
  /* color: blue; */
  color: rgb(67, 127, 196);
  margin-top: 3rem;
}
h2{
  /* color: blue; */
  color: rgb(67, 127, 196);
  font-size: 2rem;
  margin-top: 3rem;
}
.outer {
    display: flex;
    /* background-color: red; */
    display: column;
    height: 80vh;
    width: 100vw;
      margin-top: 10rem;
    justify-content: center; 
  }
  
  .inner {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
    background-color: white;
    text-align: center; 
    margin: 2rem;
    /* justify-content: center; */
    /* border-radius: 20px; */
    padding: 2rem;
  }
    .inner form {
      display: flex;
      flex-direction: column; 
      margin-top: 1rem;
    }
    .inner input {
      margin: 8px;
      border-radius: 0.5rem;
      border-style: none;
      border-bottom: 3px solid #2b2721;
      height: 1.5rem; 
      text-align: center;
    }
  .inner p{
    /* margin: 8px; */
    margin-top: 3rem;
    border-radius: 0.5rem;
    border-style: none;
    border-bottom: 3px solid #2b2721;
    height: 1.0rem; 
    text-align: center;
    background-color:rgb(75, 70, 70);
    padding: 0.5rem;
    font-size: 1.0rem;
  }

  a{
     text-decoration: none;
     color: whitesmoke;
     font-weight:bolder
  }