 
 .user img{
  height: 100px;
  width:100px;
 }
 .others{
  visibility: hidden;
  display: flex;
  justify-content: center;
 }
 
  
  .inner{
    margin:0rem;
    margin-top:1.5rem;
    min-width: 100vw;
    display: flex;
    align-items: center;
  }
  .info{
    padding: 0;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    justify-content:space-evenly;
    width: 100vw;
  }
  #vital-sign{
    min-width:100vw;
    display: flex;
    margin-left: 0rem; 
    margin: 2rem;
    padding: 2rem;
    padding-top: 1rem;
}
.lists{
    display: flex;
    flex-direction: column;
    width:40%;
    margin-left: 0rem; 
    margin: 2rem;
    padding: 2rem;
  }
  .list{
    background-color: whitesmoke;
    width: 80%;
    margin: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
  }
  /* History Part */
  .history-content{
    background-color: whitesmoke;
    height: 100vh;
    margin: 2.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    /* align-items: center; */
    /* justify-content: center; */
  }
  .history-content li,.hidden-content li{
    color:rgb(95, 95, 151);
  display: block;
  font-size: 18px;
  font-weight: bolder;
  letter-spacing: 0.85px;
  margin: 15px 0 0;
  padding: 10px;
  border-bottom: 1.5px solid lightgray;
}
 
.hidden-content{
  display: flex;
  flex-direction: column;
}
.hidden-detail{
  display: flex;
  /* width: 100vw; */
}
.heading{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff2625;
  font-size: 25px;
  font-weight: bold;
}

/* for reports part */
h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table{
  width:100%;
  table-layout: fixed;
}
.table-header{
  background-color: rgba(255,255,255,0.3);
 }
.table-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 600;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;

}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 13px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}
.reports-section{
  padding: 2rem;
  background-image: linear-gradient(to right,#bdc3c7,#4d7dae);
  font-family:  'Ubuntu', sans-serif;
  margin:2rem;
  border-radius: 10px;
}
.report-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}